@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.section{
    padding: 9rem 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    color: #ebe9e9;
    font-size: 6rem;
}

h4{
    color: #ebe9e9;
    font-size: 2rem;
}

h3{
    color: #ebe9e9;
    font-size: 3rem;
}

h2{
    color: #ebe9e9;
    font-size: 5rem;
}

p{
    color: #ebe9e9;
    font-size: 1rem
}

/* grid = zahid */
.zahid{
    display: grid;
    gap: 9rem;
}

.zahid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.zahid-three-column{
    grid-template-columns: repeat(3, 1fr);
}

/* container = jibon */
.jibon{
    max-width: 140rem;
    margin: 0 auto;
}


/* Header */
body .header-zah{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(29, 30, 32, 0.4), rgba(10, 10, 14, 0.6)), url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-zah nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}

.header-zah nav img{
    width: 180px;
}

.header-zah nav .nav-links{
    flex: 1;
    text-align: right;
}

.header-zah nav .nav-links ul li{
    display: inline-block;
    padding: 7px 12px;
    position: relative;
}

.header-zah nav .nav-links ul li a{
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.header-zah nav .nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #BE9E21;
    display: block;
    margin: 3px 0;
    transition: 0.6s;
}

.header-zah nav .nav-links ul li a:hover::after{
    width: 50%;
}

.header-zah .text-zah{
    width: 90%;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%
    );
    text-align: center;
}

.header-zah .text-zah h4{
    font-size: 2.4rem;
    font-weight: 400;
    animation: slideInLeft 2s ease-in;
}

.header-zah .text-zah h1{
    font-size: 7rem;
    animation: slideInLeft 3s ease-in;
}

.header-zah .text-zah p{
    margin: 10px 10px 30px 0;
    font-size: 1.5rem;
    text-align: center;

    animation: slideInLeft 4s ease-in;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-30px);
    }
    to {
        transform: 0;
    }
}

.header-zah .text-zah .btn-zah{
    display: inline-block;
    text-decoration: none;
    color: #ebe9e9;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    padding: 12px 20px;
    font-size: 15px;
    position: relative;
    transition: 0.4s;
}

.header-zah .text-zah .btn-zah:hover{
    color: #BE9E21;
    border: 2px solid #BE9E21;
}


/* service */

.service{
    background-color: #282828;
    padding: 50px;
}

.service .zahid{
    gap: 1rem;
}

.service .section-service-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.service .section-service-data .service-head{
    margin-top: 10rem;
}

.service .section-service-data .service-head a{
    color: #B3B3B3;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2rem;
    transition: 0.3s;
}

.service .section-service-data .service-head a:hover{
    color: #BE9E21;
}

.service .section-service-data .service-para{
    margin-top: 1rem;
    color: #B3B3B3;
    font-size: 1.7rem;
}

.service .service-big-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.service .service-big-para .service-small-para{
    color: #BE9E21;
    font-size: 2rem;
    margin-top: 8rem;
}

.service .service-big-para .service-head-head{
    font-size: 6rem;
    color: #FFFFFF;
}

.service .grid-first-column{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    background-color: #1D1D1D;
}

.service .grid-first-column .grid-second-column img{
    size: 5rem;
    padding: 1rem;
}

.service .grid-first-column .ser-haed{
    font-size: 1.7rem;
    padding: 5px;
    margin: 1rem;
}

.service .grid-first-column .ser-para{
    font-size: 1.5rem;
    padding: 5px;
    margin: 1rem;
}

.service .service-first{
    margin-bottom: 6rem;
}

.service .service-second{
    margin-top: 5rem;
}



/* work */
.work-zah{
    min-height: 130vh;
    width: 100%;
    background-image: linear-gradient(rgba(40, 40, 41, 0.4), rgba(10, 10, 14, 0.6)), url(../img/work.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.work-zah .work-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-zah .work-section .zah-jib{
    background-color: #BE9E21;
    border: 2px solid #BE9E21;
    padding: 1rem;
    font-size: 18px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    cursor: pointer;
    color: #ebe9e9;
    text-transform: uppercase;
    font-weight: 400;
} 


.work-zah .work-section .zah-jib:hover{
    color: #BE9E21;
    background-color: transparent;
}


/* Best */
.best-zah{
    background-color: #1D1D1D;
}

.best-zah .fisrt-head{
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    padding-top: 7rem;
    color: #BE9E21;
}

.best-zah .second-head{
    font-weight: 700;
    font-size: 4.5rem;
    text-align: center;
    padding: 2rem 2rem;
}

.best-zah .first-para{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 3rem 3rem;
    margin-bottom: 2rem !important;
}

.best-zah .best-first{
    margin-top: 3rem;
    padding: 2rem 2rem;
}

/* .best-zah .zahid{
    gap: 1rem;
} */

.best-zah .best-first .section-best-img{
    display: flex;
}

.best-zah .best-first .section-best-img .best-one{
    position: relative;
    align-items: flex-end;
    margin-left: 35%;
    width: 55%;
    box-shadow: -50px -50px 10px #2C2C2C;
    margin-top: 3rem;
}

.best-zah  .best-first .section-best-img .best-two{
    position: absolute;
    margin-left: 23%;
    margin-top: 4rem;
    margin-bottom: 1rem;
    animation: slideUp 1s ease-in;
}

.best-zah .best-first .section-best-data{
    margin-right: 3rem;
}


.best-zah .best-first .section-best-data .best-data-head{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.best-zah .best-first .section-best-data .best-data-head-two{
    font-size: 4rem;
    padding: 3px 3px;
    text-transform: uppercase;
}

.best-zah .best-first .section-best-data .best-data-head-two .num{
    color: #363636;
}

.best-zah .best-first .section-best-data .best-data-para{
    font-size: 1.5rem;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.best-zah .best-first .section-best-data .best-btn h3{
    border: 2px solid #e2e0d8;
    padding: 1rem;
    font-size: 15px;
    transition: 0.4s;
    width: 30%;
    cursor: pointer;
    color: #ebe9e9;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 2rem 2rem;
}

.best-zah .best-first .section-best-data .best-btn h3:hover{
    color: #BE9E21;
    border: 2px solid #BE9E21;
}

.best-zah .best-first .section-best-data-second{
    text-align: end;
}

.best-zah .best-first .section-best-data-second  .best-data-head-second{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.best-zah .best-first .section-best-data-second .best-data-head-two-second{
    font-size: 4rem;
    padding: 3px 3px;
    text-transform: uppercase;
}

.best-zah .best-first .section-best-data-second .best-data-head-two-second .num{
    color: #363636;
}

.best-zah .best-first .section-best-data-second .best-data-para-second{
    font-size: 1.5rem;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.best-zah .best-first .section-best-data-second .best-btn-second h3{
    border: 2px solid #e2e0d8;
    padding: 1rem;
    font-size: 15px;
    transition: 0.4s;
    width: 30%;
    cursor: pointer;
    color: #ebe9e9;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 70%;
}

.best-zah .best-first .section-best-data-second .best-btn-second h3:hover{
    color: #BE9E21;
    border: 2px solid #BE9E21;
}

.best-zah .best-first .section-best-img .best-three{
    position: relative;
    align-items: flex-end;
    margin-left: 35%;
    width: 55%;
    box-shadow: -50px -50px 10px #1D1D1D;
    margin-top: 3rem;
}

.best-zah  .best-first .section-best-img .best-four{
    position: absolute;
    margin-left: 10%;
    margin-bottom: 1rem;
    background-color: #2C2C2C;
    padding: 3rem 3rem;
    animation: slideInLeft 1s ease-in;
}

.best-zah .best-first .section-best-img .best-five{
    position: relative;
    align-items: flex-end;
    margin-left: 35%;
    width: 55%;
    box-shadow: -50px -50px 10px #1D1D1D;
    margin-top: 3rem;
}

.best-zah  .best-first .section-best-img .best-six{
    position: absolute;
    margin-left: 10%;
    margin-bottom: 1rem;
    background-color: #2C2C2C;
    padding: 3rem 3rem;
    animation: slideInLeft 1s ease-in;
}

@keyframes slideUp {
    from{
        transform: translateY(30px) 
    }
	to { transform: translateY(0) }
}

/* process */
.process-zah{
    min-height: 130vh;
    width: 100%;
    background-image: linear-gradient(rgba(40, 40, 41, 0.1), rgba(10, 10, 14, 0.3)), url(../img/process.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.process-zah .process-section{
    margin-left: 55%;
    padding-top: 20%;
}

.process-zah .process-section .pro-head{
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: #BE9E21;
}

.process-zah .process-section .pro-head-two{
    font-weight: 700;
    font-size: 6rem;
    padding: 7px 0;
}

.process-zah .process-section .pro-sec{
    display: flex;
}

.process-zah .process-section .pro-para{
    font-size: 1.6rem;
    font-weight: 300;
}

.process-zah .process-section .pro-sec .pro-btn{
    font-size: 2rem;
    color: #e2e0d8;
    padding: 1rem 3rem;
    background-color: #BE9E21;
    margin: 1rem;
    cursor: pointer;
}

.process-zah .process-section .pro-sec .pro-btn-rest{
    font-size: 2rem;
    color: #e2e0d8;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.process-zah .process-section .pro-big-para{
    display: flex;
    margin-top: 2rem;
}

.process-zah .process-section .pro-big-para .pro-span{
    font-size: 7rem;
    color: #363636;
    font-weight: 700;
    margin-top: 2rem;
}

.process-zah .process-section .pro-big-para .pro-small-para{
    font-size: 2rem;
    color: #e2e0d8;
    
}

.process-zah .process-section .pro-last-btn{
    margin: 2rem;
}

.process-zah .process-section .pro-last-btn a{
    font-size: 2rem;
    color: #BE9E21;
    margin: 2rem 0;
    cursor: pointer;
    transition: 0.4s;
    text-transform: uppercase;
}

.process-zah .process-section .pro-last-btn a::after{
    content: '';
    width: 4%;
    height: 2px;
    background-color: #BE9E21;
    display: block;
    margin: 3px 0;
}

.process-zah .process-section .pro-last-btn a:hover{
    color: #e2e0d8;
}


/* features */
.feature-zah{
    background-color: #131313;
}

.feature-zah .section-feature{
    padding: 2rem;
}

.feature-zah .section-feature .section-feature-data{
    margin: 1rem;
    padding: 1rem 2rem;
}

.feature-zah .section-feature .feature-data-head-one{
    margin-top: 6rem;
    color: #BE9E21;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.feature-zah .section-feature .feature-data-head-two{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feature-zah .section-feature .feature-data-para{
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #A6B3B3;
}

.feature-zah .feature-data-second{
    padding: 3rem;
    gap: 1rem;
    margin-top: 2rem;
}

.feature-zah .feature-data-second .fet-data{
    margin: 1rem;
    padding: 1rem 2rem;
}

.feature-zah .feature-data-second .fet-data .fat-img-det .fat-det-head{
    font-weight: 300;
    font-size: 2.5rem;
    margin: 5px 0;
}

.feature-zah .feature-data-second .fet-data .fat-img-det .fat-det-para{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2px 0;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: #B3B3B3;
    padding: 5px 0;
}